<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Keuangan</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h1 class="username">Selamat Datang <p>{{ session.get('namalengkap') }}</p></h1>
        </div>
        <h3><i class=""></i> Menu Utama</h3>
        <a href="{{ url_for('main.dashboard') }}" class="{% if request.path == '/dashboard' %}active{% endif %}">
            <i class="fas fa-tachometer-alt me-2"></i><span>Dashboard</span>
        </a>
        <h3><i class=""></i> Menu Keuangan</h3>
        <a href="{{ url_for('main.cashflow') }}" class="{% if request.path.startswith('/cashflow') %}active{% endif %}">
            <i class="fas fa-money-bill-transfer me-2"></i><span>Cash Flow</span>
        </a>
        <h3><i class=""></i> Menu Persiapan</h3>
        <!-- <a href="{{ url_for('main.analisa_penjualan') }}" class="{% if request.path.startswith('/analisa-penjualan') %}active{% endif %}">
            <i class="fas fa-chart-bar me-2"></i><span>Analisa Penjualan</span>
        </a> -->
        <a href="{{ url_for('main.pendapatan') }}" class="{% if request.path.startswith('/pendapatan') %}active{% endif %}">
            <i class="fas fa-money-bill-wave me-2"></i><span>Pendapatan</span>
        </a>
        <a href="{{ url_for('main.biaya_variabel') }}" class="{% if request.path.startswith('/biaya-variabel') %}active{% endif %}">
            <i class="fas fa-shopping-cart me-2"></i><span>Biaya Barang</span>
        </a>
        <a href="{{ url_for('main.biaya_tetap') }}" class="{% if request.path.startswith('/biaya-tetap') %}active{% endif %}">
            <i class="fas fa-box-open me-2"></i><span>Biaya Produk</span>
        </a>
        <a href="{{ url_for('main.manajemen_produk') }}" class="{% if request.path.startswith('/daftar-produk') %}active{% endif %}">
            <i class="fas fa-list me-2"></i><span>Manajemen Produk</span>
        </a>
        {% if session.get('role') == 'admin' %}
        <h3><i class=""></i> Menu Admin</h3>
        <a href="{{ url_for('main.manajemen_pengguna') }}" class="{% if request.path.startswith('/manajemen-pengguna') %}active{% endif %}">
            <i class="fas fa-user me-2"></i><span>Manajemen Pengguna</span>
        </a>
        <a href="{{ url_for('main.manajemen_menu') }}" class="{% if request.path.startswith('/manajemen-menu') %}active{% endif %}">
            <i class="fas fa-bars me-2"></i><span>Manajemen Menu</span>
        </a>
        {% endif %}

        <!-- Logout tombol di bagian bawah sidebar -->
        <div class="logout-container">
            <a href="" class="logout-link">
                <i class="fas fa-arrow-left me-2"></i> <span>Panel User</span>
            </a>
            <a href="{{ url_for('main.logout') }}" class="logout-link">
                <i class="fas fa-sign-out-alt me-2"></i> <span>Logout</span>
            </a>
        </div>
    </div>
    <div class="main-content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    <i class="fas fa-info-circle me-2"></i> {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
